__pycache__/
*.py[cod]
*$PYTHON_EXTENSIONS

venv/
.env/
.venv/
pip-wheel-metadata/

build/
dist/
*.egg-info/
*.egg
*.whl

*.conda
*.lock

htmlcov/
.tox/
.nox/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml
*.pytest_cache/

.ipynb_checkpoints

.vscode/
.idea/
*.sublime-workspace

*.log
*.bak
Thumbs.db
